body {
    margin: 0;
    padding: 0;
    background-color: rgba(152, 152, 152, 0.15);
}

.container {

}

.searchForm {
    margin-bottom: 0;
}

.btn-default {
    color: white;
    background-color: #2a5285;
}

.navbar-default {
    background-color: #2a5285;
}

.navbar-brand {
    color: white !important;
    padding-left: 200px;
}

.dropdown-toggle {
    color: white !important;
}

.content {
    margin-left: -40px;
}

.empty {

}

.menu {
    margin-right: 20px;
}

.middle {
    background-color: #fff;
    margin-right: 20px;
    height: 400px;
    padding: 0;
    border-radius: 5px;
    border: 3px solid rgba(143, 221, 255, 0.58);
}

.messageForm {
    margin-top: 276px;
    height: 100px;
    border-radius: 5px;
    padding: 1px;
    box-shadow: 0 0 0 rgba(143, 221, 255, 0.58);
    background-color: rgba(143, 221, 255, 0.58);
    border: 1px solid rgba(143, 221, 255, 0.58);
}

.btn_send {
    height: 26px;
    background-color: #5151ff;
    color: white;
    border-radius: 5px;
    margin-left: 380px;
}

.btn_send:hover {
    background-color: #4545cc;}

#newMessage {
    height: 70px;
}

.profile {
    background-color: #cfdcff;
    height: 300px;
}

.menu-point {
    margin-bottom: 5px;
}

.menu-point:hover {
    cursor: pointer;
    background-color: rgba(193, 195, 193, 0.15);
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}
